html {
  height: 100%;
  width: 100%;
}

body {
  display: flex;
  flex-flow: column wrap;
  margin: 0;
  padding: 0;
  background-color: #090809;
  font-family: "Courier New", Courier, monospace;
  color: white;
  height: 100%;
  width: 100%;
}

.main {
  display: flex;
  flex-flow: column wrap;
  flex: 1;
  /* align-items: center; */
  /* justify-content: center; */
}

.nav ul {
  display: flex;
  justify-content: space-evenly;
  font-size: 1.5em;
}

.nav ul li {
  text-decoration: none;
}

.navlink {
  text-decoration: none;
  color: white;
}

.profile {
  display: flex;
  flex: 1;
  flex-flow: column wrap;
  justify-items: center;
  align-items: center;
  padding-top: 20vh;
}

#firstLine {
  font-size: 4em;
}

#secondLine {
  font-size: 1.5em;
}

p {
  margin: 0;
}

/* .filler {
  display: flex;
} */
